{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <p>LISTENING RECS</p>

    <p>------------------------------------------------</p>

    <figure class="figure">
    <img src="https://img.discogs.com/rsgrqsl1zzXrcegY2VerPG9x63I=/fit-in/600x610/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-937766-1413349613-8453.jpeg.jpg" class="figure-img img-fluid rounded" alt="...">
    <figcaption class="figure-caption">Clifford Brown - 'With Strings'</figcaption>
    </figure>

    <p>------------------------------------------------</p>
    
    <div></div>

    <figure class="figure">
    <img src="https://img.discogs.com/wNz6Zp-m-amQ8rMGI03ERMMZfGo=/fit-in/600x596/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-1974216-1256064494.jpeg.jpg" class="figure-img img-fluid rounded" alt="...">
    <figcaption class="figure-caption">Maurice Andre - 'Maurice Andre'</figcaption>
    </figure>

    <p>------------------------------------------------</p>

    <div></div>

    <figure class="figure">
    <img src="https://img.discogs.com/RP0QFiRe_rTA0W-6PfWNL1wvRus=/fit-in/600x588/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-3674779-1417703165-8512.jpeg.jpg" class="figure-img img-fluid rounded" alt="...">
    <figcaption class="figure-caption">Maynard Ferguson - 'Boy With Lots Of Brass'</figcaption>
    </figure>
{% endblock %}
